.mask-body{
    position:relative;display:inline-block;background-color:#fff;border:#b0b0b0;-webkit-box-shadow:0 2px 8px rgba(0,0,0,.2),0 0 5px rgba(0,0,0,.2);box-shadow:0 2px 8px rgba(0,0,0,.2),0 0 5px rgba(0,0,0,.2);border-radius:4px;
    width: 660px;
}