/* .main_list {
  width: 100%;
} */
.article_info {
  width: 100%;
  margin-bottom: 20px;
  background-color: white;
  border: 1px solid #f0f1f4;
  border-radius: 10px;
  /* box-shadow: 8px 8px 31px #cfcaca, -8px -8px 31px #fdf6f6; */
}
.article_author {
  position: relative;
  /* height: 60px; */
}
.article_author img {
  width: 50px;
  border-radius: 50px;
  float: left;
  margin-left: 25px;
  margin-top: 15px;
}
.article_content {
  padding: 0px 30px 0 90px;
  margin-top: 10px;
  font-size: 14px;
  word-wrap: break-word;
  white-space: pre-wrap;
}
.dynamic_img {
  padding-top: 10px;
  margin-left: 90px;
}
.demo-image__preview .el-image {
  width: 120px !important;
  height: 120px !important;
  border-radius: 10px;
  margin-right: 8px;
}
.is_show {
  border: 1px solid #ff8200;
  display: inline-block;
  position: absolute;
  right: 112px;
  top: 25px;
  font-size: 13px;
  padding: 4px 8px;
  padding-left: 30px;
  border-radius: 14px;
  cursor: pointer;
  color: #ff8200;
}
.delete_img {
  border: 1px solid #ff8200;
  /* display: inline-block; */
  position: absolute;
  right: 30px;
  top: 25px;
  font-size: 13px;
  padding: 4px 8px;
  padding-left: 30px;
  border-radius: 14px;
  cursor: pointer;
  color: #ff8200;
}
.delete_img img {
  width: 20px;
  position: absolute;
  top: -13px;
  left: -18px;
}
.delete_img:hover {
  background-color: #fcf6ef;
}
.is_show:hover {
  background-color: #fcf6ef;
}
.zhe .el-dialog {
  border-radius: 15px;
  top: 10%;
}
.zhe .el-dialog__header .el-dialog__title {
  display: inline-block;
  width: 100%;
  text-align: left;
  padding: 0 px;
}
.zhe .el-dialog__body {
  padding: 0 20px;
}
.zhe .el-dialog__footer {
  padding: 0;
}
.zhe .el-dialog__footer button {
  font-size: 14px;
  border: none;
  background-color: #ff8200;
  padding: 8px 15px 6px;
  border-radius: 20px;
  margin: 5px 20px 15px 0;
}
.zhe .el-dialog__header .el-dialog__title {
  font-size: 16px;
}
.el-button--primary {
  background-color: #ff8200 !important;
  border: 1px solid #ff8200 !important;
}
.el-button--primary:hover {
  background-color: #ff8200 !important;
  border: 1px solid #ff8200 !important;
  color: white !important ;
}
.el-button:hover {
  background-color: transparent;
  border: 1px solid #dcdfe6;
  color: #606266;
}
