#dynamic_publish {
  width: 650px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  /* padding: 0 30px; */
}
#dynamic_title {
  font-size: 16px;
  font-weight: 600;
  padding-bottom: 10px;
  color: var(--w-main);
  border-bottom: 1px solid rgb(240, 240, 240);
}
#dynamic_title img {
  margin-top: 10px;
  width: 16px;
}
#close {
  width: 18px;
  position: absolute;
  right: 10px;
  padding: 4px;
  cursor: pointer;
}
#dynamic_title span:first-child {
  display: inline-block;
  width: 590px;
  margin-left: 20px;
  margin-top: 10px;
}
.article_img {
  width: 90%;
  /* border: 1px solid red; */
  /* padding-bottom: 20px; */
  margin-left: 20px;
  /* margin-right: 20px; */
}
.el-upload {
  width: 100px;
  height: 100px;
  position: relative;

  /* vertical-align: middle; */
  /* line-height:500px; */
}
.el-upload--picture-card i {
  position: absolute;
  top: 40%;
  /* transform: translateY(-0%); */
  left: 50%;
  transform: translateX(-50%);
}
.el-upload-list--picture-card .el-upload-list__item {
  width: 100px;
  height: 100px;
}
.bottom {
  font-size: 14px;
  padding-left: 20px;
}
select {
  margin-top: 10px;
  cursor: pointer;
  color: gray;
  border: none;
  /*清除select聚焦时候的边框颜色*/
  outline: none;
  /*将select的宽高等于div的宽高*/
}
.is_display .el-upload--picture-card {
  display: none;
}
