body,html{
    border: 0;
    padding: 0;
    margin: 0;
}
#all{
    width: 100%;
}
#user_background{
    /* display: inline-block; */
    /* margin-left: 50%; */
    padding: 0;
    /* transform: translateX(-50%); */
    width: 1000px;
    padding-top: 65px;
}
#background_image img{
    width: 100%;
    height: 250px;
}
.big_avatar{
    display: inline-block;
    position: absolute;
    border-radius: 100px;
    width: 100px;
    height:100px;
    left: 50%;
    top: -50%;
    transform: translateX(-50%);
    /* box-shadow: 1px 1px #999999; */
    border:2px solid white
}
.mask{
    display: none;
    background:rgba(0,0,0,0.3);
    cursor: pointer;
    /* background-color: #141414;
    opacity: 0; */
    border-radius: 100px;
    width: 100px;
    height:100px;
    position: absolute;
    top: -50%;
    text-align: center;
    /* line-height: 120px; */
}
#avatar_image{
    height: 50px;
    position: relative;
    transform: translateX(-50%);
    left: 50%;
    top: -50%;
    width: 100px;
    height: 70px;
    border-radius: 100px;
}
#user_name {
    font-size: 20px;
    text-align: center;
    padding-top: 15px;
}
#follow_fans{
    width: 100%;
    padding-top: 10px;
    text-align: center;
}
.split_symbol{
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
}
#self_descrip{
    font-size: 14px;
    text-align: center;
    padding-top: 10px;
    color: rgb(121, 121, 121);
}
#message_navigation{
    margin: auto;
    width: 1000px;
    /* margin-left: 50%; */
    /* display: inline-block; */
    /* margin-left: 50% */
    padding: 0;
    /* transform: translateX(-50%); */
    margin-top: 50px;
    
}
#navigation_list{
    width: 200px;
    float: left;
    border: 1px solid rgb(243, 243, 243);
}
#message_content{
    width: 800px;
    margin-left: 200px;
    /* border: 1px solid red; */
}
#message_content{
    /* border: 1px solid black; */
}
#navigation_list div{
    height: 50px;
    text-align: center;
    line-height: 50px;
    position: relative;

}
#navigation_list div:hover{
    background-color: rgb(245, 244, 244);
    cursor: pointer;
}
#navigation_list img{
    width: 25px;
    position: absolute;
    top: 12px;
    left: 35px;
}
a{
    text-decoration: none; /* 去除默认的下划线 */
    color: #000;
}
.avatar-uploader .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 100PX;
    cursor: pointer;
    position: absolute;
    overflow: hidden;
    left: 50%;
    top: -50%;
    opacity: 0;
    /* transform: translateY(50%); */
    transform: translateX(-50%)
  }
  /* .avatar-uploader .el-upload:hover {
    border-color: #409EFF;
  } */
  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 100px;
    height: 100px;
    line-height: 100px;
    border-radius: 100PX;
    text-align: center;
  }
  .avatar {
    width: 100px;
    height: 100px;
    display: block;
    border-radius: 100PX;
  }
  .el-message{
      z-index: 999999 !important;
  }
 



