body,
html {
  border: 0;
  padding: 0;
  margin: 0;
}
#all {
  width: 100%;
}
#user_background {
  padding: 0;
  width: 1000px;
  padding-top: 60px;
  border: none !important;
}
.change_backgdimg {
  cursor: pointer;
  font-size: 12px;
  padding: 4px 8px;
  border: 1px solid rgb(248, 248, 248);
  border-radius: 50px;
  color: #ff7300;
  position: absolute;
  right: 20px;
  top: 30px;
  background-color: rgba(243, 243, 243, 0.3);
}
.change_backgdimg:hover {
  background-color: rgba(248, 248, 248, 0.4);
  color: #f0550d;
}
#background_image img {
  width: 100%;
  height: 300px;
}
.big_avatar {
  display: inline-block;
  position: absolute;
  border-radius: 100px;
  width: 100px;
  height: 100px;
  left: 50%;
  top: -50%;
  transform: translateX(-50%);
  box-shadow: 9px 9px 18px #ddd7d7, -9px -9px 18px #efe9e9;
  /* border: 2px solid white; */
}
.mask {
  display: none;
  background: rgba(0, 0, 0, 0.3);
  cursor: pointer;
  border-radius: 100px;
  width: 100px;
  height: 100px;
  position: absolute;
  top: -80%;
  text-align: center;
  z-index: 9999999;
  /* transform: translateY(-50%); */
}
#avatar_image {
  height: 50px;
  position: relative;
  transform: translateX(-50%);
  left: 50%;
  top: -50%;
  width: 100px;
  height: 70px;
  border-radius: 100px;
}
#user_name {
  margin-top: 60px;
  font-size: 20px;
  text-align: center;
}
#follow_fans {
  width: 100%;
  padding-top: 10px;
  text-align: center;
}
.follow_fans_count {
  padding: 0 10px;
}
.follow_fans_count:hover {
  cursor: pointer;
}
.split_symbol {
  display: inline-block;
  color: #afafaf;
}
#self_descrip {
  font-size: 14px;
  text-align: center;
  padding-top: 10px;
  color: rgb(121, 121, 121);
}
#message_navigation {
  margin: auto;
  width: 1000px;
  padding: 0;
  margin-top: 50px;
}
#navigation_list {
  width: 180px;
  float: left;
  border: 1px solid rgb(243, 243, 243);
}
#message_content {
  width: 800px;
  margin-left: 200px;
}
#navigation_list {
  background-color: white;
  border-radius: 10px;
}
#navigation_list div {
  cursor: pointer;
  color: #333;
  height: 50px;
  text-align: center;
  line-height: 50px;
  position: relative;
}
#navigation_list div:hover {
  background-color: rgb(240, 240, 240);
}
#navigation_list div:focus {
  color: #ff8200;
}
#navigation_list img {
  position: absolute;
  top: 12px;
  left: 25px;
}
a {
  text-decoration: none; /* 去除默认的下划线 */
  color: #000;
}
.avatar-uploader .el-upload {
  border: none;
  border-radius: 100px;
  cursor: pointer;
  position: absolute;
  overflow: hidden;
  left: 50%;
  top: -80%;
  transform: translateX(-50%);
  background: #e6e0e0;
  box-shadow: 9px 9px 18px #ddd7d7, -9px -9px 18px #efe9e9;
}
.avatar-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 178px;
  height: 178px;
  line-height: 178px;
  text-align: center;
}
.avatar {
  width: 100px;
  height: 100px;
  display: block;
  border-radius: 100px;
}
.el-message {
  z-index: 999999 !important;
}
#all,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
#logo_img {
  width: 85px;
  margin-top: 8px;
  margin-left: 8%;
  float: left;
  cursor: pointer;
}
#go_scrolltop {
  z-index: 99999;
  right: 50px;
  bottom: 50px;
  position: fixed;
  width: 50px;
  border-radius: 50px;
  display: none;
}
#go_scrolltop:hover {
  cursor: pointer;
}
#top_tt {
  width: 100%;
  height: 65px;
  background-color: white;
  position: fixed;
  z-index: 1000;
  border-bottom: 1px solid rgb(233, 233, 233);
  /* margin: 0 auto; */
  /* border:; */
}
#top {
  /* border: 1px solid red; */
  left: 50%;
  transform: translateX(-50%);
  height: 65px;
  width: 1200px;

  position: fixed;
  top: 0px;
  background-color: white;
  z-index: 1000;
}
#mid {
  /* padding-top: 65px; */
  margin: 0 auto;
  width: 1200px;
  /* height: 800px; */
}
#classifiy {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 15px;
  /* bottom:10px; */
  left: 5%;
  top: 2px;
  /* border:1px solid red; */
  /* transform: translateY(1000%); */
}
#classifiy_text {
  /* border: 1px solid red !important; */
}
#classifiy > span:first-child {
  width: 80px;
  text-align: center;
  border-radius: 15px;
  display: inline-block;
  font-size: 14px;
  color: rgb(80, 80, 80);
  border: 0.5px solid #d1d1d1;
}
#icon {
  position: relative;
  width: 15px;
  height: 15px;
  background-image: url(../assets/20180604174931_4sKYz.png);
  background-position: -59px -13px;
  background-repeat: no-repeat;
  display: inline-block;
  top: 4px;
  left: 5px;
}
#classifiy_content {
  position: absolute;
  width: 200px;
  left: 10px;
  background-color: white;
  /* border: 1px solid rgb(194, 189, 189); */

  display: none;
}
#search {
  position: relative;
  border: 1px solid #ff7e7e;
  /* bottom:12px; */
  line-height: 30px;
  width: 250px;
  margin-left: 10%;
  padding-left: 20px;
  padding-right: 10px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  outline: none;
  right: -6px;
  top: 50%;
  transform: translateY(-50%);
}
#tt {
  height: 34.5px;
  width: 50px;
  padding-left: 10px;
  background-image: url(../assets/20180604174931_4sKYz.png);
  background-position: -143px 0px;
  background-color: #ff7e7e;
  border: none;
  margin: 0px;
  border-top-right-radius: 34.5px;
  border-bottom-right-radius: 34.5px;
  cursor: pointer;
  /* border: 1px solid red; */
  margin-top: 15px;
  margin-left: 5px;
  position: absolute;
}

#publish {
  width: 30px;
  position: absolute;
  margin-top: 16px;
  /* left: 50px; */
  margin-left: 220px;
  transition: all 0.3s;
}
#publish:hover {
  transition: all 0.3s;
  cursor: pointer;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.register_login {
  display: inline-block;
  right: 5%;
  bottom: 50%;
  transform: translateY(50%);
  position: absolute;
  padding: 5px 10px;
}
.register_login:hover {
  cursor: pointer;
  padding: 5px 10px;
  background-color: rgb(243, 242, 242);
  border-radius: 30px;
}
.content {
  margin-bottom: 30px;
  padding-bottom: 10px;
  border-radius: 15px;
  overflow: hidden;
  background: #f3f2f2;
  box-shadow: 8px 8px 31px #cfcaca, -8px -8px 31px #fdf6f6;
}
.content_image {
  width: 100%;
  display: block;
  cursor: pointer;
}
.author_headphoto {
  box-shadow: 5px 5px 21px #ddd7d7, -5px -5px 21px #efe9e9;
  width: 32px;
  height: 32px;
  border-radius: 35px;
  margin-left: 12px;
  cursor: pointer;
}
.content_data {
  width: 220px;
  margin-right: 16px;
  display: inline-block;
  vertical-align: top;
}
.txt_content {
  padding-left: 10px;
  padding-top: 5px;
  font-size: 14px;
  padding-right: 2.5px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 12;
  /* 5.字面意思：单词破坏：破坏英文单词的整体性，在英文单词还没有在一行完全展示时就换行  即一个单词可能会被分成两行展示 */
  word-break: break-all;
  /* 6.盒子实现多行显示的必要条件，文字是垂直展示，即文字是多行展示的情况下使用 */
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  white-space: pre-wrap;
}
.txt_like {
  position: relative;
  width: 22px;
  left: 8px;
  bottom: 4px;
  cursor: pointer;
}
.txt_author {
  margin-top: 10px;
}
.author_name {
  display: inline-block;
  margin-bottom: 6px;
  margin-left: 8px;
  left: 10px;
  font-size: 12px;
  color: rgb(75, 74, 74);
  font-weight: 500;
  width: 100px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.click_num {
  position: relative;
  bottom: 10px;
  left: 8px;
  font-size: 12px;
}
#footer {
  display: inline-block;
  width: 100%;
  background-color: #f7f7f7;
  font-size: 10px;
  color: rgb(75, 74, 74);
  text-align: center;
  line-height: 80px;
  margin-top: 50px;
}
.tt1 {
  border: 1px solid white;
  display: inline-block;
  padding: 2px 15px;
  border-radius: 15px;
  color: rgb(255, 255, 255);
  font-size: 14px;
  position: absolute;
  left: 39%;
  top: 50%;
}
.tt1:first-child {
  top: 40% !important;
}
.image_shadow {
  display: inline-block;
  position: relative;
}
.shadow {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.4);
}
#login_avatar {
  position: absolute;
  top: 2px;
  left: -30px;
  width: 36px;
  border-radius: 36px;
  height: 36px;
  box-shadow: 5px 5px 21px #ddd7d7, -5px -5px 21px #efe9e9;
}
.login_func {
  display: inline-block;
  position: relative;
  transform: translateY(40%);
  left: 20px;
  /* top:50%; */
  /* margin-left:0px; */
  font-size: 17px;
}
#login_out {
  position: absolute;
  width: 30px;
  font-size: 13px !important;
  padding-top: 5px;
  margin-top: 8px;
  margin-left: 35px;
  color: gray;
}
#login_out:hover {
  cursor: pointer;
}
.login_message {
  display: inline-block;
  transform: translateY(50%);
  position: absolute;
  right: 5%;
}
.el-textarea__inner:focus {
  border: 1px solid #ff8200;
}
.avatar-uploader-icon {
  width: 25px;
  line-height: 100px;
  /* color: #b6b6b6; */
}
.concerns_fans_avatar {
  border-radius: 50px;
  width: 50px;
  float: left;
  margin-left: 8px;
  box-shadow: 5px 5px 21px #ddd7d7, -5px -5px 21px #efe9e9;
}
.concerns_fans_message {
  background-color: white;
  width: 520px;
  padding: 20px 0px 20px 24px;
  position: relative;
  border-top: 1px solid rgb(242, 242, 242);
  /* color: rgb(247, 247, 247); */
  /* border-left: 1px solid rgb(233, 231, 231);
  border-right: 1px solid rgb(233, 231, 231); */
}
.concerns_fans_message:hover {
  cursor: pointer;
  background-color: rgb(240, 240, 240);
}
.action {
  cursor: pointer;
  color: #ff8200;
  border: 1px solid #ff8200;
  font-size: 13px;
  line-height: 25px;
  width: 60px;
  text-align: center;
  border-radius: 15px;
  position: absolute;
  right: 28px;
  top: 50%;
  transform: translateY(-50%);
}
.concerns_fans_username {
  padding-top: 8px;
  font-size: 16px;
  margin-left: 76px;
}
.concerns_fans_selfdescribe {
  padding-top: 4px;
  font-size: 12px;
  margin-left: 76px;
  color: gray;
}
.action:hover {
  background-color: #fcf6ef;
}
.recommend_list {
  width: 230px;
  display: inline-block;
  margin-left: 20px;
  background: white;
  border-radius: 10px;
  position: absolute;
  top: 0px;
  right: 0px;
}
.recommend {
  position: relative;
  padding: 10px 0px;
  border-top: 1px solid rgb(241, 241, 241);
  cursor: pointer;
}
.recommend:hover {
  background-color: #f1f1f1;
}
.recommend_img {
  width: 40px;
  border-radius: 36px;
  float: left;
  margin: 0 0 0 12px;
  transform: translateY(-8%);
  box-shadow: 5px 5px 21px #ddd7d7, -5px -5px 21px #efe9e9;
}
.recommend_btn {
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
  font-size: 12px;
  color: #ff8200;
  border: 1px solid #ff8200;
  width: 44px;
  padding: 2px 0;
  text-align: center;
  border-radius: 20px;
}
.recommend_btn:hover {
  background-color: #fcf6ef;
}
.recommend_username,
.recommend_self_description {
  margin-left: 60px;
  width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.change_recommend {
  font-size: 12px;
  float: right;
  cursor: pointer;
  padding: 2px 4px;
  color: #ff8200;
}
.change_recommend:hover {
  color: red;
}
.cropper-content .cropper {
  width: auto;
  height: 350px;
}
.upload-demo {
  z-index: 9999999;
}
.img_style {
  cursor: pointer;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(-60%);
  box-shadow: 20px 20px 99px #d5d5d5, -20px -20px 99px #ebebeb;
}
.img_style img {
  width: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-45%) translateY(-50%);
}
