
.attr{
    width: 100px;
    text-align: right;
    vertical-align: top;
    display: inline-block;
}
.sex_option{
    width: 35px !important;
}
.self_list{
    margin-bottom: 20px;
    top: 50%;
}
#self_message{
    /* display: inline-block; */
    /* width: 700px; */
    /* margin-bottom: 100px; */
}
/* .self_list input{
    height: 20px;
    line-height: 20px;
} */